body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.todo-list {
    text-align: center;
}

.add-proj-container {
    text-align: center;
}

.add-project {
    width: fit-content;
    background-color: green;
    border-radius: 5px;
    color: white;
    border: none;
    font-size: medium;
    font-weight: 900;
}

.add-project:hover {
    background-color: darkgreen;
}

.project-display {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 15rem;
    gap: 2rem;
    border-radius: 5px;
}

/* .project-display:hover {
    background-color: rgb(236, 231, 231);
} */

.title-edit, .info-edit, .task-edit {
    height: 2rem;
    width: 3rem;
    border-radius: 10px;
    border: none;
}

.title-edit:hover, .info-edit:hover, .task-edit:hover {
    background-color: grey;
}

.main-display {
    align-items: start;
    display: grid;
    grid-template-columns: 30vw 1fr;
    place-items: center;
}
.due-date {
    margin-top: -1rem;
}

.description {
    margin-top: 1rem;
}

.due-date, .description, .priority {
    display: flex;
    justify-content: space-between;
}

.finish-todo {
    margin-top: 3rem;
    display: flex;
    justify-content: space-between;
    gap: 5rem;
}

.delete-todo {
    background-color: red;
    color: white;
    border-radius: 10px;
    height: 2rem;
    font-weight: 900;
    border: none;
}

.delete-todo:hover {
    background-color: darkred;
}

.todo-status {
    background-color: blue;
    color: white;
    border-radius: 10px;
    font-weight: 900;
    border: none;
}

.todo-status:hover {
    background-color: darkblue;
}

.add-checklist {
    margin-top: 1rem;
    background-color: green;
    color: white;
    height: 2rem;
    font-weight: 900;
    border-radius: 10px;
    border: none;
}

.add-checklist:hover {
    background-color: darkgreen;
}

.task-cont {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;
    gap: 5rem;
}

.checklist > input {
    width: fit-content;
}

.button-cont {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
}

.remove {
    background-color: red;
    color: white;
    font-weight: 900;
    border-radius: 10px;
    border: none;
}

.remove:hover {
    background-color: darkred;
}

form {
    display: flex;
    flex-direction: column;
}

input {
    width: 17rem;
    border-radius: 15px;
    background-color: rgb(238, 238, 238);
    border: none;
}

form > button {
    background-color: blue;
    width: fit-content;
    font-weight: 900;
    color: white;
    margin-top: 1rem;
    border: none;
    font-size: medium;
    border-radius: 15px;
}

textarea {
    background-color: rgb(238, 238, 238);
    border: none;
}

.info-edit {
    margin-left: 1rem;
}